<h1>Events:</h1>
<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<% @events.each do |event| %>
  <%= link_to event.name, event %>
    <%= link_to 'Delete', event_path(event), method: :delete %>
    <br/>
<% end %>
<br><br>
<%= link_to "Make an Event", "/events/new" %>
<br><br>
<%= link_to "Sign In", new_user_session_path %>
<br><br>
<%= link_to "Sign Out", destroy_user_session_path %> 

<br><br>
<h3>Currently logged in:</h3>
<% unless current_user.nil? %>
  <%= link_to User.find(current_user.id).name, "/users/#{current_user.id}" %>
<% else %>
  <p>Nobody</p>
<% end %>

<br/><br/>
<%= link_to 'Info', 'info' %>